.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 370px);
    gap: 10px;
    margin: 0;    
}


@media (max-width: 1500px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
    }

}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        margin-right: 0px;
    }

}

.star {
   position: absolute;
   top: -10;
   left: 175px;
}

.star img {
   width: 35px;
   height: 35px; 
}